@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    /* overflow-x: hidden; */
}

/* recommended (not necessary for lenis library */
/* html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
     pointer-events: none;
  }  */
/*  */





.svg-white svg {
    fill: white;
}

.news-img {
    width: calc(30vw - 6px)
}
@media (max-width: 1500px) {
    .news-img {
        width: calc(29vw - 8px)
    }
}
@media (max-width: 767px) {
    .news-img {
        min-width: 100%
    }
}

/*  */
.featured-item {
    min-width: calc(30vw - 6px)
}

@media (max-width: 1100px) {
    .featured-item {
        min-width: calc(40vw - 0px)
    }
}

@media (max-width: 640px) {
    .featured-item {
        min-width: calc(100% - 65px)
    }
}




@media (max-width: 1100px) {
    .list-itemer {
        min-width: calc(40vw - 0px)
    }
}

@media (max-width: 640px) {
    .list-itemer {
        min-width: calc(100% - 65px)
    }
}



/* Hide the scrollbar until interaction */


.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    width: 0.4em;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
    background-color: transparent;
}
